:root {
  --blue: #300042;
  --dark-blue: #520066;
  --green: rgb(211, 255, 16);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Tahoma';
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
}


.beranda{
  padding: 0 4rem  0 4rem;
}

header {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--blue);
  position: fixed;
  width: 100%;
  font-weight: bold;
  padding: 1%;
  top: 0;
}

.title {
  color: var(--green);
  border-bottom: 1px solid var(--white);
  font-size: 20pt;
}

.title-p:hover{
  color: var(--green);
  transition: 0.6s ease-in-out;
}

.search {
  width: 30%;
  border: 0;
  border-radius: 0 0 0 10px;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;

}

.submit {
  margin-left: -5px;
  border: 0;
  border-radius: 0 15px 0 0;
  padding: 2px;
  background-color: var(--green);
  color: var(--blue);
  width: 7%;
}

.button {
  background-color: var(--dark-blue);
  color: var(--green);
  width: 40px;
  height: 25px;
  border-radius: 5px ;
  margin-top: 10px;
}

nav {
  margin-top: 15px;
}

nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;

}

nav ul li a {
  color: var(--green);
}

nav ul li a:hover {
  border-bottom: 2px solid var(--white);
}

.slider {
  margin-top: 10%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}

.slider h4 {
  margin-top: 20%;
}

.slides {
  display: flex;
  width: 50rem;
  overflow: hidden;
}

.slides img {
  border-radius: 10px;
}

.img__satu{
  width: 800px;
  height: 300px;
}

.pesan {
  font-size: smaller;
}

.pesan__pulsa{
  background-color: var(--green);
  padding: 20px;
  border-radius: 2rem;
  font-size: 12px;
}
.pesan__pulsa img{
  width: 26px;
  height: auto;
}


 /* ini bagian ff */
.pesan__ff{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
}
.pesan__ff img {
  width: 26px;
  height: auto;
}

 /* ini bagian ml */
 .content__data__ml{
  font-size: 12px;
 }

 .pesan__ml{
  background-color: var(--green);
  padding: 10px;
  border-radius: 1rem;
}
.pesan__ml img{
  width: 26px;
  height: auto;
}

 /* ini bagian PUBG */
 .content__data__pubg{
  font-size: 12px;
 }

 .pesan__pubg{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
}
 .pesan__pubg img{
  width: 26px;
  height: auto;
 }


 /* ini bagian GENSHIN */
 .content__data__genshin{
  font-size: 15px;
 }

 .pesan__genshin{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
 }

 .pesan__genshin img{
  width: 26px;
  height: auto;
 }

 /* ini bagian DOMINO */
 .content__data__domino{
  font-size: 12px;
 }

 .pesan__domino{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
 }

 .pesan__domino img{
  width: 26px;
  height: auto;
 }

 /* ini bagian CODM */
 .content__data__codm{
  font-size: 15px;
 }

 .pesan__codm{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
 }

 .pesan__codm img{
  width: 26px;
  height: auto;
 }

 /* ini bagian DOMINO */
 .content__data__valo{
  font-size: 12px;
 }

 .pesan__valo{
  background-color: var(--green);
  padding: 10px;
  border-radius: 2rem;
  font-size: 12px;
 }

 .pesan__valo img{
  width: 26px;
  height: auto;
 }




.slide {
  width: 50rem;
  transition: .5s;
}

.choose_1:checked~.slides>.s1 {
  margin-left: -0rem;
}

.choose_2:checked~.slides>.s1 {
  margin-left: -50rem;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: var(--dark-blue);
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: aqua;
  font-size: 22px;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}



.popup .close:hover {
  color: #06D85F;
}

.content {
  max-height: 40%;
  width: 50%;
}

.title-p {
  margin-top: 10%;
  margin-left: 70px;
}

.populer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 10pt;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.populer img {
  border-radius: 30px;
}

.harga {
  color: var(--green);
}

.link a {
  color: var(--white);
}

.link a:hover {
  color: var(--green);
}

.pesan {
  background-color: var(--green);
  padding: 5%;
  border-radius: 5px;
}

.pesan:hover {
  background-color: var(--white);
}

.pesan img {
  width: 50px;
  height: auto;
}

.tentang {
  display: grid;
  justify-content: center;
  margin-top: 10%;
  font-size: 15pt;
}

.card {
  background-color: var(--blue);
  padding: 5%;
  border-radius: 10px;
  box-shadow: 20px 20px black;
}

.card h1 {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.close{
  display: flex;
  padding: 0;
  margin: 10px 0 0 100% ;

}


footer {
  display: grid;
  justify-content: center;
  background-color: var(--blue);
  margin-top: 10%;
  padding: 2%;
}

.sosmed img {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 39%;
  margin-right: 50%;
  width: 80px;
}

.copyright {
  text-align: center;
  padding: 10px;
}

.ff {
  margin-bottom: 30px;
}


/* bagian pembayaran */
.payment__section{
  background-color: var(--dark-blue);
  margin-top: 10rem;
}

.title-pembayaran{
  font-weight: bold;
  color: var(--white);
  font-family: 'Tahoma';
  font-size: 2rem;
}

.payment img {

  padding: 2rem;
  margin-left: auto ! important;
  margin-right: auto !important;
  width: 40%;
  height: 35%;
  display: flex;
  border: 100px;
  border-radius: 4rem;

}

.telkom__image{
  width: 180px;
 
  height: 180px;
}

.lol{
  display: none;
}
.slides__2{
  display: none;
}
.pb{
  display: none;
}

.mlbb,
.ff,
.ffm,
.pubg,
.cod,
.codm,
.gi,
.lol,
.aov,
.domino,
.op{
  margin: 5px 5px 5px 5px;
}

.populer {
  grid-template-columns: repeat(4, 1fr);
}

.payment__footer-title{
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: var(--green);
}

.lol,
.hp,
.pb,
.tri,
.ind,
.telkom,
.qi,
.sp,
.dp,
.ffm{
  display: none;
}



/* ini versi handphone*/

@media screen and (max-width: 600px) and (max-height : 900px) {
  nav ul li a {
    font-size: 11pt;
  }

  .beranda{
    padding: 0 10px 0 10px;
  }

  .input__button {
    display: none;
  }
  .lol,
  .hp,
  .pb,
  .tri,
  .ind,
  .telkom,
  .qi,
  .sp,
  .dp{
    display: none;
  }


  .slider h4 {

    display: none;
  }

  .slides{
    display: none;
  }

  .slides__2{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: none;
  }

  .slide img{
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: -5rem;
    padding-left: -15px;
    width: 21.5rem;
    height: 15rem;
  }

  .img__satu{
    display: none;
    margin: 0;
    padding: 0;
  }

  .img__dua{
    z-index: 1;
    width: 200px;
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .gambar__poster {
    display: none;
    align-items: center;
  }

  .img__dua {
    z-index: 1;
  }

  .title-p {
    padding-top: 0rem;
    margin-left: 20px;
  }

  .populer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 10pt;
  }

  .link img {
    width: 80%;
  }

  .tentang {
    width: 90%;
    padding-left: 2rem;
    font-size: 13pt;
  }

  .sosmed {
    font-size: 15pt;
    padding: 6rem;
  }

  .content {
    justify-content: space-between;
    font-size: 8px;
  }
  .content__pulsa{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pesan__pulsa{
    background-color: var(--green);
    padding: 25px;
    border-radius: 2rem;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
    align-items: center;
    top: 50%;
  }
  .pesan__pulsa img{
    width: 26px;
    height: auto;
  }

    /* ini bagian ff */
  .content__data__ff{
    font-size: 15px;
    margin-right: -100px;
  }
  .pesan__ff{
    background-color: var(--green);
    padding: 10px;
    border-radius: 2rem;
    font-size: 12px;
  }
  .pesan__ff img {
    width: 26px;
    height: auto;
  }

   /* ini bagian ml */


  .content__data__ml{
    font-size: 15px;
    margin-right: -100px;
  }
   .pesan__ml{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    margin-right: -10px;
    margin-left: 0px;

   }
  .pesan__ml img{
    width: 26px;
    height: auto;
  }

  /* INI STYLE PUBG */
  .content__data__pubg{
    font-size: 15px;
    margin-right: -100px;
  }

  .pesan__pubg{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    margin-right: -10px;
    margin-left: 0px;
  }

  .pesan__pubg img{
    width: 26px;
    height: auto;
  }

   /* INI STYLE GENSHIN */
   .content__data__genshin{
    font-size: 14px;
    margin-left: -10px;
   }

   .pesan__genshin{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    margin-right: -10px;
    margin-left: 0px;
   }

   .pesan__genshin img{
    width: 26px;
    height: auto;
   }

   /* INI STYLE DOMINO */
   .content__data__domino{
    font-size: 17px;
    margin-left: -10px;
   }

   .pesan__domino{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    margin-right: -100px;
    margin-left: 0px;
   }

   .pesan__domino img{
    width: 26px;
    height: auto;
   }

   /* INI STYLE CODM */
   .content__data__codm{
    font-size: 14px;
    margin-left: -10px;
   }

   .pesan__codm{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    margin-top: 30rem;
    margin-right: -10px;
    margin-left: 0px;
   }

   .pesan__codm img{
    width: 26px;
    height: auto;
   }


   /* INI STYLE VALO */
   .content__data__valo{
    font-size: 13px;
    margin-left: -10px;
   }

   .pesan__valo{
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 12px;
    padding: 0.5rem;
    margin-top: 30rem;
    margin-right: -10px;
    margin-left: 0px;
   }

   .pesan__valo img{
    width: 26px;
    height: auto;
   }

  .popup h2 {
    font-size: 22px;
    color: aqua;
  }

  .br {
    display: none;
  }

  .sosmed img {
    width: 10%;
  }

  .popup {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 26%;
  }

  .harga {
    display: center;
  }

  .title-pembayaran{
    font-size: 30px;
    color:white;
  }


  .payment img {
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    border-radius: 3rem 0 3rem 0;
    padding: 0 10px 0 10px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .sosmed__font{
    font-size: 24px;
  }
  .sosmed img {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 26%;
    width: 80px;
  }

  .telkom{
    margin-top: 25px;
  }
  .telkom__image{
    width: auto;
    height: 120px;
  }

}




  /*.copyright {
  padding-eft: 45%;
  font-size: 10pt;
}

.copyright a {
  color: #fff;
}*/
